<% if (alerts && alerts.length > 0) { %>
    <div class="alerts-container mb-4">
        <% alerts.forEach(alert => { %>
            <div class="alert alert-<%= alert.type || 'info' %> alert-dismissible fade show" role="alert">
                <% if (alert.icon) { %>
                    <i class="<%= alert.icon %> me-2"></i>
                <% } %>
                <%= alert.message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% }) %>
    </div>
<% } %>
